.contact-page {
  width: 90%;
  margin: 40px auto;

}

.contact-header {
  text-align: center;
  margin-bottom: 40px;
}

.contact-header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.contact-container {
  display: flex;
  gap: 40px;
}

.contact-info {
  flex: 1;
  background: white;
  padding: 30px;
  border-radius: 15px;
}

.contact-form {
  flex: 1;
  background: white;
  padding: 30px;
  border-radius: 15px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.contact-form button {
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #1e40af;
}