.phone-page {
  width: 90%;
  margin: 40px auto;

}

/* Tiêu đề */
.phone-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}

/* Nếu sau này có filter */
.phone-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}