.accessory-page {
  width: 90%;
  background-color: #edf3f9;

}

.accessory-container {
  margin: 0 auto;         /* Căn giữa */
  padding: 30px 20px;
}

.accessory-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}