.top-header {
  background: white;
  border-bottom: 1px solid #eee;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #111827;
}

/* Search */
.search-wrapper {
  position: relative;
  width: 40%;
}

.search {
  width: 100%;
  padding: 10px 35px 10px 12px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  outline: none;
}

.search:focus {
  border-color: #2563eb;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
}

/* Icons */
.icons {
  display: flex;
  gap: 20px;
}

.icon-btn {
  color: #374151;
  transition: 0.2s;
}

.icon-btn:hover {
  color: #2563eb;
}
.cart-wrapper {
  position: relative; /* Làm gốc tọa độ cho badge */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-badge {
  position: absolute;
  top: -8px;       /* Đẩy lên trên */
  right: -8px;     /* Đẩy sang phải */
  background-color: #ef4444; /* Màu đỏ nổi bật */
  color: white;
  font-size: 10px;
  font-weight: bold;
  min-width: 14px;
  height: 12px;
  border-radius: 50%; /* Làm hình tròn */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white; /* Tạo viền trắng để nổi bật trên nền trắng */
  padding: 2px;
}